<a href="https://colab.research.google.com/github/Sindhuja-R-21/1-4--c13/blob/main/PRO_C127.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kora -q
from kora.selenium import wd
from bs4 import BeautifulSoup
import csv
import time

Start_url= "https://exoplanets.nasa.gov/discovery/exoplanet-catalog/"
wd.get(Start_url)
time.sleep(10)

     |████████████████████████████████| 57 kB 1.5 MB/s
     |████████████████████████████████| 56 kB 4.5 MB/s

In [2]:
def scrape():
    headers = ["name", "light_years_from_earth", "planet_mass", "stellar_magnitude", "discovery_date"]
    planet_data = []
    for i in range(0, 10):
        soup = BeautifulSoup(wd.page_source, "html.parser")
        for ul_tag in soup.find_all("ul", attrs={"class", "exoplanet"}):
            li_tags = ul_tag.find_all("li")
            temp_list = []
            for index, li_tag in enumerate(li_tags):
                if index == 0:
                    temp_list.append(li_tag.find_all("a")[0].contents[0])
                else:
                    try:
                        temp_list.append(li_tag.contents[0])
                    except:
                        temp_list.append("")
            planet_data.append(temp_list)
        wd.find_element_by_xpath('//*[@id="primary_column"]/footer/div/div/div/nav/span[2]/a').click()
    with open("scrapper_2.csv", "w") as f:
        csvwriter = csv.writer(f)
        csvwriter.writerow(headers)
        csvwriter.writerows(planet_data)
scrape()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

In [6]:
import pandas as pd

df= pd.read_csv('scrapper_2.csv')
df

                     name  ...  discovery_date
0    11 Comae Berenices b  ...            2007
1      11 Ursae Minoris b  ...            2009
2         14 Andromedae b  ...            2008
3           14 Herculis b  ...            2002
4            16 Cygni B b  ...            1996
..                    ...  ...             ...
245              GJ 317 c  ...            2018
246              GJ 328 b  ...            2013
247             GJ 3293 b  ...            2015
248             GJ 3293 c  ...            2015
249             GJ 3293 d  ...            2017

[250 rows x 5 columns]

In [4]:
df.shape

(250, 5)